<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <a>This website is created and by <a>Karoom (Karam Almoued)</a></p>
        <img class="portrait" src="/img/karam1.png">
        <img class="portrait" src="/img/karam2.png">
        <img class="portrait" src="/img/karam5.png">
        <img class="portrait" src="/img/karam4.png">
        <img class="portrait" src="/img/karam3.png">
    </div>
    
    {{>footer}}
</body>

</html>